
/* =============== style resets============ */
*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: roboto;
}

nav .active{
    border-bottom: 3px solid white;
}
/* .left-side{
    position: sticky;
    position: -webkit-sticky;
    top: 0rem;
} */

.dropshadow{
    box-shadow:  0 0 30px rgba(255, 255, 255, 0.935);
    transition: all .5s linear;
}
.color{
    color: rgba(255, 255, 255, 0.322);
}