/* =============== style resets============ */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: roboto;
}

nav .active {
  border-bottom: 3px solid white;
}
/* .left-side{
    position: sticky;
    position: -webkit-sticky;
    top: 0rem;
} */

.dropshadow {
  box-shadow: 0 0 30px rgba(54, 54, 54, 0.935);
  transition: all 0.5s linear;
}
.color {
  color: rgba(255, 255, 255, 0.322);
}

 /* Hide scrollbar for Chrome, Safari and Opera */
.center::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.center{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
} 
