:root{
    --background-color: rgba(244, 249, 248, 1);
    --text-color: rgba(47, 159, 248, 1);
    --text-gray: rgba(7, 45, 75, 1);
    --text-black: rgb(4, 14, 31);
    --white-color: rgb(241, 239, 239);
}
/* ==========================Mobile styles============================ */
@media (max-width: 480px) {
    
}