:root{
    --background-color: rgba(244, 249, 248, 1);
    --text-color: rgba(47, 159, 248, 1);
    --text-gray: rgba(7, 45, 75, 1);
    --text-black: rgb(4, 14, 31);
    --white-color: rgb(241, 239, 239);
}
/* ==========================Tablet styles============================ */
@media (max-width: 810px) {
    nav .wrapper{
        width: 100%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 .5rem;
    }
    nav .navigations{
        display: flex;
        width: 55%;
        justify-content: space-between;
    }
    nav .profile button{
        display: none;
    }
}